<%= form_for @user do |f| %>

<h1> Sign Up! </h1>

<%= f.label :user_name %>
<%= f.text_field :user_name %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :about %>
<%= f.text_field :about %>

<%= f.submit 'Register' %>

<% end %>
